@model IEnumerable<FlexAirFit.Web.Models.TrainerModel>

<h1>Список тренеров</h1>
@{
    var cookies = ViewContext.HttpContext.Request.Cookies;
    var userRole = cookies["UserRole"].ToString();
    var isAdminPage = userRole == "Admin";
    var isClientPage = userRole == "Client";
    var isTrainerPage = userRole == "Trainer";
}

<table class="table">
    <thead>
    <tr>
        @if (isAdminPage)
        {
            <th>Id</th>
        }
        <th>Имя</th>
        <th>Пол</th>
        <th>Специализация</th>
        <th>Опыт работы</th>
        <th>Рейтинг</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var trainer in Model)
    {
        <tr>
            @if (isAdminPage)
            {
            <th>@trainer.Id</th>
            }
            <td>@trainer.Name</td>
            <td>
                @if (trainer.Gender == "male")
                {
                <span>Мужской</span>
                }
                else if (trainer.Gender == "female")
                {
                <span>Женский</span>
                }
            </td>

            <td>@trainer.Specialization</td>
            <td>@trainer.Experience</td>
            <td>@trainer.Rating</td>
            @if (isAdminPage)
            {
            <td>
                <a asp-action="DeleteTrainer" asp-controller="Trainer" asp-route-trainerId="@trainer.Id" class="btn btn-primary" onclick="return confirm('Вы действительно хотите удалить этого тренера?')">Удалить</a>
                <a asp-action="UpdateTrainer" asp-controller="Trainer" asp-route-trainerId="@trainer.Id" class="btn btn-primary">Изменить</a>
            </td>
            }
        </tr>
    }
    </tbody>
</table>

<div>
    @if (Model.Count() != 0 && Model.First().PageCurrent > 1)
    {
        <a asp-action="ViewTrainer" asp-controller="Trainer" asp-route-page="@(Model.First().PageCurrent - 1)" class="btn btn-primary">Предыдущая страница</a>
    }
    @if (Model.Count() == 10)
    {
        <a asp-action="ViewTrainer" asp-controller="Trainer" asp-route-page="@(Model.First().PageCurrent + 1)" class="btn btn-primary">Следующая страница</a>
    }
</div>