@model IEnumerable<FlexAirFit.Web.Models.ClientModel>

<h1>Список клиентов</h1>

@{
    var cookies = ViewContext.HttpContext.Request.Cookies;
    var userRole = cookies["UserRole"].ToString();
    var isAdminPage = userRole == "Admin";
    var isClientPage = userRole == "Client";
    var isTrainerPage = userRole == "Trainer";
}

<table class="table">
    <thead>
    <tr>
        @if (isAdminPage || isTrainerPage)
        {
            <th>Id</th>
            <th>Активен абонемент</th>
        }
        <th>Имя</th>
        <th>Пол</th>
        <th>Дата рождения</th>
        <th>Название абонемента</th>
        <th>Окончание абонемента</th>
        <th>Заморозки</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var client in Model)
    {
        <tr>
            @if (isAdminPage || isTrainerPage)
            {
                <th>@client.Id</th>
                <th>@client.ActiveMembership</th>
            }
            <td>@client.Name</td>
            <td>
                @if (client.Gender == "male")
                {
                <span>Мужской</span>
                }
                else
                {
                <span>Женский</span>
                }
            </td>
            <td>@client.DateOfBirth.ToShortDateString()</td>
            <td>@client.NameMembership</td>
            <td>@client.MembershipEnd.ToShortDateString()</td>
            <td>
                <dd class="col-sm-10">
                    @foreach (var interval in client.FreezingIntervals)
                    {
                        <span>@interval[0].ToString().Split(" ").First() - @interval[1].ToString().Split(" ").First()</span>
                        <br/>
                    }
                </dd>
            </td>
            @if (isAdminPage)
            {
            <td>
                <a asp-action="UpdateClient" asp-controller="Client" asp-route-clientId="@client.Id" class="btn btn-primary">Изменить</a>
            </td>
            }
        </tr>
    }
    </tbody>
</table>


<div>
    @if (Model.Count() != 0 && Model.First().PageCurrent > 1)
    {
        <a asp-action="ViewClient" asp-controller="Client" asp-route-page="@(Model.First().PageCurrent - 1)" class="btn btn-primary">Предыдущая страница</a>
    }
    @if (Model.Count() == 10)
    {
        <a asp-action="ViewClient" asp-controller="Client" asp-route-page="@(Model.First().PageCurrent + 1)" class="btn btn-primary">Следующая страница</a>
    }
</div>